grep_test.sh
Report.doc
ieee_conference_paper_template.doc
DFD diagram.mdj
DFD_Diagram.pdf
bruteforce.csv
analysis.csv
19BCE1210_PDC_Abstract.docx
19BCE1210_PDC_Abstract.odt
19BCE1210_PDC_Abstract.pdf
*.docx
*.odt
*.pdf
*.doc
19BCE1210_PDC_Review2.pptx
*.pptx